<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.firstName %> <%= @user.lastName%></h1>
    <p>Thanks for joining and have a great day! Now confirm your email please</p>
    <br/>

    <%= button_to 'Confirm your email', auth_confirm_email_path_url(token: @user.email_confirm_token), {
      :style => "background: #FCAA67; color: #B0413E; border: solid 3px #FCAA67; padding:10px; border-radius: 5px;" 
    } %>
  </body>
</html>