<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.firstName %>, <%= @user.lastName%></h1>
    <p>Thanks for joining and have a great day! Now confirm your email please</p>
    <br/>
    <%= link_to 'Confirm your email', auth_confirm_email_path_url(token: @user.email_confirm_token) %>
  </body>
</html>