<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style type="text/css" media="screen">
      body { background: #473335; }
      h1 { color: #FCAA67; }
      p { color: #FFFFC7}
    </style>   

  </head>

  <body>
    <%= yield %>
  </body>
</html>
