<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
        background-color: #FFFFC7;
      }
      h1 {
        color: #473335;
      }
      p {
        color: #B0413E;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
